
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;

}

.cajaSobremi {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 100%;
  border: 2px solid rgb(14, 13, 13);
  
  
 
} 

.sobremi{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(14, 13, 13);
  padding: 20px;
}

.sobremi h2{
 font-size: 1.6rem;
  font-weight: 780;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a0909;
  letter-spacing: 1px;
  transition: text-shadow 0.3s ease;
}
/* Cajas pequeñas */
.cajaPequeña {
  min-height: 140px;  /* mínimo */
  height: auto;       /* crece si hay más texto */
  overflow-wrap: break-word; /* corta palabras largas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  color: rgb(15, 15, 15);
  font-size: 0.9rem;
  backdrop-filter: blur(10px); /* Efecto glassmorphism */
  box-shadow: 0 10px 8px rgba(93, 93, 112, 0.952);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: #fff;
 
 
  
}

.cajaPequeña p {
  margin-top: 19px;
  text-align: center;
  color: #0a0909;
  background: rgb(255, 255, 255);
}

.cajaPequeña h2 {
  position: absolute;
  top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  background: rgb(255, 255, 255);
}

/* Caja grande */
.cajaGrande {
  grid-column: 1 / -1; /* ocupa todo el ancho */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px ;
  color: rgb(8, 8, 8);
  box-shadow: 0 10px 8px rgba(105, 105, 143, 0.952);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
  background-color: #fff;
  margin-bottom: 30px;
}

.cajaGrande h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.4rem;
  background: rgb(255, 255, 255);
  font-weight: 600;
}

/* Contenedor de íconos */
.devicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
}

.devicon p{
    color: black;
    background: rgb(255, 255, 255);
}

/* Cada habilidad individual */
.skill {
  display: flex;
  flex-direction: column; /* icono arriba, texto abajo */
  align-items: center;
  background: rgb(255, 255, 255);
  text-align: center;
}

.skill img {
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  transition: transform 0.3s ease;
}

.skill img:hover {
  transform: scale(1.2);
}

.skill p {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #0a0909;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: rgb(255, 255, 255);
}


  @media (max-width: 992px) {
  .cajaSobremi {
    grid-template-columns: 1fr; /* pasa a una sola columna */
  }
}