/*Contenedor principal */

.contenedor {
  text-align: center; 
  padding: 50px 20px; 
  background-color: #121212; 
  color: #fff; 
  font-family: 'Poppins', sans-serif;
}

/* Título de la sección */

.contenedor h1 {
  margin-bottom: 40px; 
  font-size: 2.2rem;
  color: #fff;
}

/*  Grid de proyectos */
.proyectos {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5rem; 
  justify-items: center;
  align-items: start;
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 30px 20px;
  box-sizing: border-box;
}

/* Tarjetas de cada proyecto  */

.proyecto {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05); 
  border-radius: 12px; 
  padding: 15px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 0 6px rgb(244, 243, 243); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  width: 100%;
  max-width: 300px; 
  min-height: 420px; 
}

/* Hover de las tarjetas*/
.proyecto:hover {
  transform: translateY(-5px); 
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.8);
}

/* Imagen dentro de la tarjeta */

.proyecto img {
  width: 100%;
  height: 160px;
  border-radius: 10px; 
  margin-bottom: 10px;
  object-fit: cover; 
  transition: transform 0.3s ease; 
}

/*Hover en la imagen  */

.proyecto:hover img {
  transform: scale(1.05); 
}

/* Título de cada proyecto */

.proyecto h2 {
  margin: 10px 0 8px 0;
  font-size: 1.2rem;
  color: #ff4d4d; 
}

/* Descripción de cada proyecto */
.proyecto p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #fff;
  margin: 0;
}

button{
  position: absolute;
  bottom: 15px;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*Responsive: Tablets*/

@media (max-width: 992px) {
  .proyectos {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila */
  }

  .proyecto {
    max-width: 90%; 
  }
}

/* Responsive: Móviles*/

@media (max-width: 600px) {
  .proyectos {
    grid-template-columns: 1fr; /* 1 columna por fila */
    padding: 15px;
  }

  .proyecto {
    padding: 10px;
  }

  .proyecto img {
    height: 150px; 
  }

  .proyecto p {
    font-size: 0.9rem; 
  }
}
 